.track {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.26);
    margin: 10px 5%;
    align-items: center;
}

.track button {
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 13px 16px !important;
    background-color: #6a00ff;
    height: fit-content;
}

.track button:hover {
    background-color: #4d2c91 !important;
    box-shadow: none;
    border: 3px solid #4d2c91;
}

.info {
    padding-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info img {
    object-fit: contain;
    display: flex;
    align-items: center;
}

.saveBtn {
    font-size: 10px;
    padding: 10px 10px !important;
    margin-right: 10px;
}

.trackinfo {
    width: 50%;
}

.btns {
    min-width: 140px;
}

@media only screen and (max-width: 480px) {
    .track {
        margin: 24px 5%;;
        flex-direction: column;
    }
    
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;
    }

    .btns button {
        width: 44px;
        margin-top: 5px;
    }

    .track button { 
        padding: 10px !important;
    }

    .info {
        justify-content: center;
    }

  }