.tracklist {
    background-color: #2d2b55;
    flex-grow: 1;
    flex-basis: 100%;
    border-radius: 10px;
    color: white;
    margin: 0 5%;
    text-align: left;
    box-shadow: 0 4px 2px 2px #00000054;
    margin-bottom: 20px;
}

.tracklist h2 {
    margin: 5% 5%;
}

.tracklist h3 {
    margin: 10% 5%;
}

.tracklist button {
    background-color: #6a00ff;
    padding: 13px 16px;
    height: fit-content;
}

.tracklist button:hover {
    background-color: #4d2c91
}