.playlist {
    background-color: #2d2b55;
    flex-grow: 1;
    flex-basis: 100%;
    border-radius: 10px;
    color: white;
    margin: 0 5%;
    box-shadow: 0 4px 2px 2px #00000054;
    margin-bottom: 20px;
}

.playlist input {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.playlist input:focus-visible {
    outline: none;
}

.playlist input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

.playlistinfo {
    padding-bottom: 10px;
    margin: 10px 5%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.26);
    text-align: left;
}

.playlist button {
    margin-bottom: 10px;
}
button{
    background-color: #6a00ff;
}



